@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (User.IsInRole("Admin"))
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Kaiadmin - Bootstrap 5 Admin Dashboard</title>
        <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
              name="viewport" />
        <link rel="icon"
              href="~/admin3/assets/img/kaiadmin/favicon.ico"
              type="image/x-icon" />

        <!-- Fonts and icons -->
        <script src="~/admin3/assets/js/plugin/webfont/webfont.min.js"></script>
        <script>
            WebFont.load({
                google: { families: ["Public Sans:300,400,500,600,700"] },
                custom: {
                    families: [
                        "Font Awesome 5 Solid",
                        "Font Awesome 5 Regular",
                        "Font Awesome 5 Brands",
                        "simple-line-icons",
                    ],
                    urls: ["assets/css/fonts.min.css"],
                },
                active: function () {
                    sessionStorage.fonts = true;
                },
            });
        </script>

        <!-- CSS Files -->
        <link rel="stylesheet" href="~/admin3/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/admin3/assets/css/plugins.min.css" />
        <link rel="stylesheet" href="~/admin3/assets/css/kaiadmin.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link rel="stylesheet" href="~/admin3/assets/css/demo.css" />
    </head>
    <body>
        <div class="wrapper sidebar_minimize">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a class="logo">
                            @*  <img src="~/admin3/assets/img/kaiadmin/logo_light.svg"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="20" /> *@
                            <h4>HR Management Sytem</h4>
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                            @* <img src="~/admin3/assets/img/business-team.png" class="img-fluid" /> *@
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            @* <li class="nav-item active">
                        <a data-bs-toggle="collapse"
                        href="#dashboard"
                        class="collapsed"
                        aria-expanded="false">
                        <i class="fa-solid fa-house"></i>
                        <p>Dashboard</p>
                        <span class="caret"></span>
                        </a>
                        <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                        <li>
                        <a href="../demo1/index.html">
                        <span class="sub-item">Dashboard 1</span>
                        </a>
                        </li>
                        </ul>
                        </div>
                        </li> *@
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Components</h4>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Dashboard1" asp-action="Index">
                                    <i class="fa-solid fa-gauge"></i>
                                    <p>Dashboard-1</p>
                                    <span class="caret"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#base">
                                    <i class="fa-solid fa-layer-group"></i>
                                    <p>Base</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="base">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="components/avatars.html">
                                                <span class="sub-item">Avatars</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Dashboard1" asp-action="Index">
                                    <i class="fa-solid fa-gauge"></i>
                                    <p>Employee List</p>
                                    <span class="caret"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Dashboard1" asp-action="Index">
                                    <i class="fa-solid fa-gauge"></i>
                                    <p>Add Employee </p>
                                    <span class="caret"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Dashboard1" asp-action="Index">
                                    <i class="fa-solid fa-gauge"></i>
                                    <p>Update Employee </p>
                                    <span class="caret"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Dashboard1" asp-action="Index">
                                    <i class="fa-solid fa-gauge"></i>
                                    <p>Delete Employee </p>
                                    <span class="caret"></span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->

            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="index.html" class="logo">
                                <img src="~/admin3/assets/img/kaiadmin/logo_light.svg"
                                     alt="navbar brand"
                                     class="navbar-brand"
                                     height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <partial name="_LoginPartial" />
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="submit" class="btn btn-search pe-1">
                                            <i class="fa fa-search search-icon"></i>
                                        </button>
                                    </div>
                                    <input type="text"
                                           placeholder="Search ..."
                                           class="form-control" />
                                </div>
                            </nav>
                            <div class="dropdown">
                                <a class="d-flex align-items-center gap-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="flex-shrink-0 avatar-sm">
                                        <img src="~/admin3/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                        Hi Admin
                                    </div>
                                </a>
                                @* <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown link
                            </a> *@

                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <form id="logoutForm" class="form-inline class=" dropdown-item"" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </nav>
                    <!-- End Navbar -->
                </div>

                <div class="container">
                    <div class="card">
                        <div class="card-body">

                            @RenderBody()
                        </div>
                    </div>
                </div>

                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <nav class="pull-left">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="http://www.themekita.com">
                                        ThemeKita
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"> Help </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#"> Licenses </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright">
                            2024, made with <i class="fa fa-heart heart text-danger"></i> by
                            <a href="http://www.themekita.com">ThemeKita</a>
                        </div>
                        <div>
                            Distributed by
                            <a target="_blank" href="https://themewagon.com/">ThemeWagon</a>.
                        </div>
                    </div>
                </footer>
            </div>

            <!-- Custom template | don't include it in your project! -->
            <div class="custom-template">
                <div class="title">Settings</div>
                <div class="custom-content">
                    <div class="switcher">
                        <div class="switch-block">
                            <h4>Logo Header</h4>
                            <div class="btnSwitch">
                                <button type="button"
                                        class="selected changeLogoHeaderColor"
                                        data-color="dark"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="blue"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="purple"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="light-blue"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="green"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="orange"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="red"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="white"></button>
                                <br />
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="dark2"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="blue2"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="purple2"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="light-blue2"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="green2"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="orange2"></button>
                                <button type="button"
                                        class="changeLogoHeaderColor"
                                        data-color="red2"></button>
                            </div>
                        </div>
                        <div class="switch-block">
                            <h4>Navbar Header</h4>
                            <div class="btnSwitch">
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="dark"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="blue"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="purple"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="light-blue"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="green"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="orange"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="red"></button>
                                <button type="button"
                                        class="selected changeTopBarColor"
                                        data-color="white"></button>
                                <br />
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="dark2"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="blue2"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="purple2"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="light-blue2"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="green2"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="orange2"></button>
                                <button type="button"
                                        class="changeTopBarColor"
                                        data-color="red2"></button>
                            </div>
                        </div>
                        <div class="switch-block">
                            <h4>Sidebar</h4>
                            <div class="btnSwitch">
                                <button type="button"
                                        class="changeSideBarColor"
                                        data-color="white"></button>
                                <button type="button"
                                        class="selected changeSideBarColor"
                                        data-color="dark"></button>
                                <button type="button"
                                        class="changeSideBarColor"
                                        data-color="dark2"></button>
                            </div>
                        </div>
                    </div>
                </div>nav-toggle
                <div class="custom-toggle">
                    <i class="fa-solid fa-gear"></i>
                </div>
            </div>
            <!-- End Custom template -->
        </div>
        <!--   Core JS Files   -->
        <script src="~/admin3/assets/js/core/jquery-3.7.1.min.js"></script>
        <script src="~/admin3/assets/js/core/popper.min.js"></script>
        <script src="~/admin3/assets/js/core/bootstrap.min.js"></script>

        <!-- jQuery Scrollbar -->
        <script src="~/admin3/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

        <!-- Chart JS -->
        <script src="~/admin3/assets/js/plugin/chart.js/chart.min.js"></script>

        <!-- jQuery Sparkline -->
        <script src="~/admin3/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

        <!-- Chart Circle -->
        <script src="~/admin3/assets/js/plugin/chart-circle/circles.min.js"></script>

        <!-- Datatables -->
        <script src="~/admin3/assets/js/plugin/datatables/datatables.min.js"></script>

        <!-- Bootstrap Notify -->
        <script src="~/admin3/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

        <!-- jQuery Vector Maps -->
        <script src="~/admin3/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
        <script src="~/admin3/assets/js/plugin/jsvectormap/world.js"></script>

        <!-- Sweet Alert -->
        <script src="~/admin3/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

        <!-- Kaiadmin JS -->
        <script src="~/admin3/assets/js/kaiadmin.min.js"></script>

        <!-- Kaiadmin DEMO methods, don't include it in your project! -->
        <script src="~/admin3/assets/js/setting-demo.js"></script>
        <script src="~/admin3/assets/js/demo.js"></script>
        <script>
            $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#177dff",
                fillColor: "rgba(23, 125, 255, 0.14)",
            });

            $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#f3545d",
                fillColor: "rgba(243, 84, 93, .14)",
            });

            $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#ffa534",
                fillColor: "rgba(255, 165, 52, .14)",
            });
        </script>
    </body>
    </html>

}
else if (SignInManager.IsSignedIn(User))
{

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Kaiadmin - Bootstrap 5 Admin Dashboard</title>
        <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
              name="viewport" />
        <link rel="icon"
              href="~/admin3/assets/img/kaiadmin/favicon.ico"
              type="image/x-icon" />

        <!-- Fonts and icons -->
        <script src="~/admin3/assets/js/plugin/webfont/webfont.min.js"></script>
        <script>
            WebFont.load({
                google: { families: ["Public Sans:300,400,500,600,700"] },
                custom: {
                    families: [
                        "Font Awesome 5 Solid",
                        "Font Awesome 5 Regular",
                        "Font Awesome 5 Brands",
                        "simple-line-icons",
                    ],
                    urls: ["assets/css/fonts.min.css"],
                },
                active: function () {
                    sessionStorage.fonts = true;
                },
            });
        </script>

        <!-- CSS Files -->
        <link rel="stylesheet" href="~/admin3/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/admin3/assets/css/plugins.min.css" />
        <link rel="stylesheet" href="~/admin3/assets/css/kaiadmin.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link rel="stylesheet" href="~/admin3/assets/css/demo.css" />
    </head>
    <body>
        <div class="wrapper sidebar_minimize">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                        <a class="logo">
                           @*  <img src="~/admin3/assets/img/kaiadmin/logo_light.svg"
                                 alt="navbar brand"
                                 class="navbar-brand"
                                 height="20" /> *@
                                 <h4>HR Management Sytem</h4>
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                            @* <img src="~/admin3/assets/img/business-team.png" class="img-fluid" /> *@
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            @* <li class="nav-item active">
                                <a data-bs-toggle="collapse" 
                                   href="#dashboard"
                                   class="collapsed"
                                   aria-expanded="false">
                                    <i class="fa-solid fa-house"></i>
                                    <p>Dashboard</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="dashboard">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="../demo1/index.html">
                                                <span class="sub-item">Dashboard 1</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li> *@
                            <li class="nav-section">
                                <span class="sidebar-mini-icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                                <h4 class="text-section">Components</h4>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Dashboard1" asp-action="Index">
                                    <i class="fa-solid fa-gauge"></i>
                                    <p>Dashboard-1</p>
                                    <span class="caret"></span>
                                </a>
                            </li>
                            
                           
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
           
            <div class="main-panel">
                <div class="main-header">
                    <div class="main-header-logo">
                        <!-- Logo Header -->
                        <div class="logo-header" data-background-color="dark">
                            <a href="index.html" class="logo">
                                <img src="~/admin3/assets/img/kaiadmin/logo_light.svg"
                                     alt="navbar brand"
                                     class="navbar-brand"
                                     height="20" />
                            </a>
                            <div class="nav-toggle">
                                <button class="btn btn-toggle toggle-sidebar">
                                    <i class="gg-menu-right"></i>
                                </button>
                                <button class="btn btn-toggle sidenav-toggler">
                                    <i class="gg-menu-left"></i>
                                </button>
                            </div>
                            <button class="topbar-toggler more">
                                <i class="gg-more-vertical-alt"></i>
                            </button>
                        </div>
                        <partial name="_LoginPartial" />
                        <!-- End Logo Header -->
                    </div>
                    <!-- Navbar Header -->
                    <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                        <div class="container-fluid">
                            <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="submit" class="btn btn-search pe-1">
                                            <i class="fa fa-search search-icon"></i>
                                        </button>
                                    </div>
                                    <input type="text"
                                           placeholder="Search ..."
                                           class="form-control" />
                                </div>
                            </nav>
                            <div class="dropdown">
                                <a class="d-flex align-items-center gap-2 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <div class="flex-shrink-0 avatar-sm">
                                        <img src="~/admin3/assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
                                    </div>
                                    <div class="flex-grow-1 ms-3">
                                       Hi Admin
                                    </div>
                                </a>
                                @* <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown link
                                </a> *@

                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <form id="logoutForm" class="form-inline class=" dropdown-item"" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Logout</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                           
                </div>
                </nav>
                <!-- End Navbar -->
            </div>
                
            <div class="container">
                <div class="card">
                    <div class="card-body">

                        @RenderBody()
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid d-flex justify-content-between">
                    <nav class="pull-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="http://www.themekita.com">
                                    ThemeKita
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> Help </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"> Licenses </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright">
                        2024, made with <i class="fa fa-heart heart text-danger"></i> by
                        <a href="http://www.themekita.com">ThemeKita</a>
                    </div>
                    <div>
                        Distributed by
                        <a target="_blank" href="https://themewagon.com/">ThemeWagon</a>.
                    </div>
                </div>
            </footer>
        </div>

        <!-- Custom template | don't include it in your project! -->
        <div class="custom-template">
            <div class="title">Settings</div>
            <div class="custom-content">
                <div class="switcher">
                    <div class="switch-block">
                        <h4>Logo Header</h4>
                        <div class="btnSwitch">
                            <button type="button"
                                    class="selected changeLogoHeaderColor"
                                    data-color="dark"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="blue"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="purple"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="light-blue"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="green"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="orange"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="red"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="white"></button>
                            <br />
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="dark2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="blue2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="purple2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="light-blue2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="green2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="orange2"></button>
                            <button type="button"
                                    class="changeLogoHeaderColor"
                                    data-color="red2"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Navbar Header</h4>
                        <div class="btnSwitch">
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="dark"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="blue"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="purple"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="light-blue"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="green"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="orange"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="red"></button>
                            <button type="button"
                                    class="selected changeTopBarColor"
                                    data-color="white"></button>
                            <br />
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="dark2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="blue2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="purple2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="light-blue2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="green2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="orange2"></button>
                            <button type="button"
                                    class="changeTopBarColor"
                                    data-color="red2"></button>
                        </div>
                    </div>
                    <div class="switch-block">
                        <h4>Sidebar</h4>
                        <div class="btnSwitch">
                            <button type="button"
                                    class="changeSideBarColor"
                                    data-color="white"></button>
                            <button type="button"
                                    class="selected changeSideBarColor"
                                    data-color="dark"></button>
                            <button type="button"
                                    class="changeSideBarColor"
                                    data-color="dark2"></button>
                        </div>
                    </div>
                </div>
                </div>nav-toggle
            <div class="custom-toggle">
                    <i class="fa-solid fa-gear"></i>
            </div>
        </div>
        <!-- End Custom template -->
        </div>
        <!--   Core JS Files   -->
        <script src="~/admin3/assets/js/core/jquery-3.7.1.min.js"></script>
        <script src="~/admin3/assets/js/core/popper.min.js"></script>
        <script src="~/admin3/assets/js/core/bootstrap.min.js"></script>

        <!-- jQuery Scrollbar -->
        <script src="~/admin3/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

        <!-- Chart JS -->
        <script src="~/admin3/assets/js/plugin/chart.js/chart.min.js"></script>

        <!-- jQuery Sparkline -->
        <script src="~/admin3/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

        <!-- Chart Circle -->
        <script src="~/admin3/assets/js/plugin/chart-circle/circles.min.js"></script>

        <!-- Datatables -->
        <script src="~/admin3/assets/js/plugin/datatables/datatables.min.js"></script>

        <!-- Bootstrap Notify -->
        <script src="~/admin3/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

        <!-- jQuery Vector Maps -->
        <script src="~/admin3/assets/js/plugin/jsvectormap/jsvectormap.min.js"></script>
        <script src="~/admin3/assets/js/plugin/jsvectormap/world.js"></script>

        <!-- Sweet Alert -->
        <script src="~/admin3/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

        <!-- Kaiadmin JS -->
        <script src="~/admin3/assets/js/kaiadmin.min.js"></script>

        <!-- Kaiadmin DEMO methods, don't include it in your project! -->
        <script src="~/admin3/assets/js/setting-demo.js"></script>
        <script src="~/admin3/assets/js/demo.js"></script>
        <script>
            $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#177dff",
                fillColor: "rgba(23, 125, 255, 0.14)",
            });

            $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#f3545d",
                fillColor: "rgba(243, 84, 93, .14)",
            });

            $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#ffa534",
                fillColor: "rgba(255, 165, 52, .14)",
            });
        </script>
    </body>
    </html>


}
else
{
    

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminTemplate2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminTemplate2.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AdminTemplate2</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - AdminTemplate2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

}
